/*
Assan Law Firm Template
Version- 3.8
author - design_mylife
support - mylifedesign143@gmail.com
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700");
@import url("https://fonts.googleapis.com/css?family=Cardo:400,400i,700");
@font-face {
  font-family: 'FontAwesome';
  src: url("../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../bower_components/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
Basic of template
*/
html, body, .fullScreen {
  height: 100%; }

body {
  font-size: 14px;
  font-weight: 400;
  color: #777;
  line-height: 2;
  letter-spacing: 0em;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden; }

@media (min-width: 1200px) {
  .container {
    width: 1070px; } }

button, input, optgroup, select, textarea {
  font-family: "Open Sans", sans-serif; }

button:focus {
  outline: 0 !important; }

a, .simple-hover img, button, .btn {
  transition: all 0.3s;
  -webkit-transition: all 0.3s; }

a {
  color: #DEBC8B;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none;
    outline: 0 !important;
    color: #666; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: "Cardo", serif;
  font-weight: 400;
  line-height: 1.3;
  color: #22232d; }

.title-font {
  font-family: "Cardo", serif; }

h4, .h4 {
  font-size: 1.25rem; }

h5, .h5 {
  font-size: 1rem; }

hr {
  margin-top: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05); }

.small, small {
  font-size: 80%;
  font-weight: 400; }

ul, ol {
  margin: 0 0 1.5em 0; }

.font-base-400 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400 !important; }

.font-base {
  font-family: "Open Sans", sans-serif !important; }

.font300 {
  font-weight: 300 !important; }

.font400 {
  font-weight: 400 !important; }

.font700 {
  font-weight: 700 !important; }

.font900 {
  font-weight: 900 !important; }

.label {
  display: inline-block;
  padding: 1px 7px;
  border-radius: 2px;
  font-size: 10px; }

.bg-faded {
  background: #EAE5E5; }

.badge-primary {
  background: #DEBC8B !important; }

.bg-primary {
  background: #DEBC8B !important;
  border-color: #DEBC8B; }

.bg-success {
  background: #5cb85c !important;
  border-color: #5cb85c; }

.bg-warning {
  background: #f0ad4e;
  border-color: #f0ad4e; }

.bg-info {
  background-color: #5bc0de;
  border-color: #5bc0de; }

.bg-danger {
  background-color: #c9302c;
  border-color: #c9302c; }

.bg-dark {
  border-color: #22232d !important;
  background-color: #22232d !important; }

.bg-white {
  background: #fff; }

.text-primary {
  color: #DEBC8B !important; }

.text-danger {
  color: #c9302c !important; }

.text-success {
  color: #5cb85c !important; }

.text-warning {
  color: #f0ad4e !important; }

.text-info {
  color: #5bc0de !important; }

.text-white {
  color: white !important; }

.text-dark {
  color: #22232d !important; }

.text-white-gray {
  color: rgba(255, 255, 255, 0.8) !important; }

.text-dark-gray {
  color: rgba(34, 35, 45, 0.5) !important; }

.border-round {
  border-radius: 6px;
  -webkit-border-radius: 6px; }

.pos-relative {
  position: relative; }

.lead {
  font-weight: 300;
  font-size: 1.5rem; }

strong, b {
  font-weight: 700; }

.fWidth {
  width: 100% !important; }

.oHidden {
  overflow: hidden !important; }

strong, b {
  font-weight: 700; }

.mr0 {
  margin-right: 0px !important; }

.pt0 {
  padding-top: 0 !important; }

.pt10 {
  padding-top: 10px !important; }

.pt20 {
  padding-top: 20px !important; }

.pt30 {
  padding-top: 30px !important; }

.pt40 {
  padding-top: 40px !important; }

.pt50 {
  padding-top: 50px !important; }

.pt60 {
  padding-top: 60px !important; }

.pt70 {
  padding-top: 70px !important; }

.pt80 {
  padding-top: 80px !important; }

.pt90 {
  padding-top: 90px !important; }

.pt100 {
  padding-top: 100px !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.pb70 {
  padding-bottom: 70px !important; }

.pb80 {
  padding-bottom: 80px !important; }

.pb90 {
  padding-bottom: 90px !important; }

.pb100 {
  padding-bottom: 100px !important; }

.mb0 {
  margin-bottom: 0 !important; }

.mb5 {
  margin-bottom: 5px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.mb70 {
  margin-bottom: 70px !important; }

.mb80 {
  margin-bottom: 80px !important; }

.mb90 {
  margin-bottom: 90px !important; }

.mb100 {
  margin-bottom: 100px !important; }

.mt5 {
  margin-top: 5px !important; }

.mt10 {
  margin-top: 10px !important; }

.mt20 {
  margin-top: 20px !important; }

.mt30 {
  margin-top: 30px !important; }

.mt40 {
  margin-top: 40px !important; }

.mt50 {
  margin-top: 50px !important; }

.mt60 {
  margin-top: 60px !important; }

.mt70 {
  margin-top: 70px !important; }

.mt80 {
  margin-top: 80px !important; }

.mt90 {
  margin-top: 90px !important; }

.mt100 {
  margin-top: 100px !important; }

.bg-default {
  background-color: #f7f7f7 !important; }

.bg-gray {
  background-color: #fbfbfb; }

.pd-card {
  padding: 40px 20px; }

.bullet-list {
  list-style: circle;
  padding-left: 20px;
  padding-bottom: 0px; }
  .bullet-list li {
    padding-bottom: 10px; }

.back-to-top {
  position: fixed;
  display: block;
  width: 50px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  bottom: 0px;
  right: 30px;
  background: #22232d;
  color: #fff;
  line-height: 30px;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transform: translate3d(0, 15px, 0);
  -webkit-transform: translate3d(0, 15px, 0); }
  .back-to-top i {
    display: block;
    font-size: 16px;
    line-height: 30px;
    text-align: center; }
  .back-to-top:hover {
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
    color: #fff; }
  .back-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0); }

/**preloader**/
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.content-table {
  display: table;
  width: 100%;
  height: 100%; }
  .content-table .content-middle {
    display: table-cell;
    vertical-align: middle;
    width: 100%; }
  .content-table .content-bottom {
    display: table-cell;
    vertical-align: bottom;
    width: 100%; }

.center-img {
  display: block;
  margin: 0 auto; }

.shadow-card {
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.1);
  border-radius: 5px; }

.section-title {
  text-align: center;
  position: relative;
  overflow: hidden; }
  .section-title:before {
    content: "";
    position: absolute;
    margin-left: -20%;
    width: 40%;
    height: 1px;
    background-color: #EAE5E5;
    top: 50%;
    margin-top: -1px;
    left: 50%; }
  .section-title h3 {
    display: inline-block;
    z-index: 2;
    position: relative;
    padding: 3px 10px;
    background-color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 2rem; }
  .section-title.title-on-faded h3 {
    background-color: #EAE5E5; }
  .section-title.title-on-dark h3 {
    background-color: #EAE5E5;
    color: #000; }
  .section-title.title-on-dark:before {
    background-color: #fff; }
  .section-title.title-on-primary h3 {
    background-color: #DEBC8B;
    color: #fff; }
  .section-title.title-on-primary:before {
    background-color: #fff; }

.page-title {
  position: relative;
  z-index: 3;
  padding-top: 12rem !important; }
  .page-title .page-breadcrumb {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: rgba(34, 35, 45, 0.3);
    padding: 10px 0; }
    .page-title .page-breadcrumb .breadcrumb {
      padding: 0px;
      margin: 0px;
      background-color: transparent; }
      .page-title .page-breadcrumb .breadcrumb .breadcrumb-item {
        opacity: 1;
        color: #fff;
        font-size: 12px; }
        .page-title .page-breadcrumb .breadcrumb .breadcrumb-item.active {
          opacity: 0.5; }
        .page-title .page-breadcrumb .breadcrumb .breadcrumb-item a {
          color: #fff; }

/**paginations**/
.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #DEBC8B;
  border-color: #DEBC8B; }

.page-link {
  color: #aeaeae; }
  .page-link:hover {
    color: #DEBC8B; }

.form-control:focus {
  box-shadow: none;
  border-color: #DEBC8B; }

/*
Preloader style
*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99999; }

#preloader-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 5px;
  width: 5em;
  height: 5em;
  margin: -25px 0 0 -25px;
  text-indent: -9999em;
  border-top: 0.5em solid #22232d;
  border-right: 0.5em solid rgba(204, 204, 204, 0.5);
  border-bottom: 0.5em solid rgba(204, 204, 204, 0.5);
  border-left: 0.5em solid rgba(204, 204, 204, 0.5);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear; }

#preloader-inner,
#preloader-inner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em; }

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*
Buttons
*/
.form-control-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
  font-size: .8rem; }

.btn {
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: .05rem;
  font-size: .75rem;
  font-family: "Open Sans", sans-serif;
  padding: 10px 25px 10px;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out; }
  .btn i {
    display: inline-block;
    margin-right: 8px; }
  .btn.btn-rounded {
    border-radius: 100px; }
  .btn:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: all .3s;
    -webkit-transition: all .3s; }
  .btn:hover, .btn:focus {
    box-shadow: none;
    outline: 0 !important; }
    .btn:hover:before, .btn:focus:before {
      transition: all .3s;
      -webkit-transition: all .3s;
      z-index: -1; }
  .btn.btn-link {
    border: 0px;
    padding: 0px !important; }
  .btn.btn-sm {
    padding: 7px 15px 7px;
    font-size: .6rem; }
  .btn.btn-lg {
    padding: 16px 30px 16px;
    font-size: .8rem; }
  .btn.btn-link {
    color: #DEBC8B;
    text-transform: uppercase;
    width: 130px;
    text-align: center;
    padding: 0px; }
    .btn.btn-link:after {
      font-family: 'Linearicons';
      content: "\e93c";
      margin-left: 5px;
      font-size: 10px;
      -webkit-transition: all .3s;
      transition: all .3s; }
    .btn.btn-link:hover {
      text-decoration: none;
      color: #999; }
      .btn.btn-link:hover:after {
        margin-left: 10px; }
    .btn.btn-link.btn-lg {
      font-size: 1rem;
      width: 210px; }

.btn-white {
  background-color: #fff;
  color: #333; }

.btn-white-outline {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff; }
  .btn-white-outline:hover, .btn-white-outline:focus {
    color: #333;
    border-color: #fff; }
    .btn-white-outline:hover:before, .btn-white-outline:focus:before {
      width: 100%;
      background-color: #fff; }

.btn-outline-primary {
  border: 2px solid #DEBC8B;
  background-color: transparent;
  color: #DEBC8B !important; }
  .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    color: #fff !important;
    border-color: #DEBC8B;
    background-color: transparent; }
    .btn-outline-primary:hover:before, .btn-outline-primary:focus:before, .btn-outline-primary:active:before {
      width: 100%;
      background-color: #DEBC8B; }

.btn-outline-info {
  border: 2px solid #5bc0de;
  background-color: transparent;
  color: #5bc0de; }
  .btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active {
    color: #fff;
    border-color: #5bc0de;
    background-color: transparent; }
    .btn-outline-info:hover:before, .btn-outline-info:focus:before, .btn-outline-info:active:before {
      width: 100%;
      background-color: #5bc0de; }

.btn-outline-info {
  border: 2px solid #5bc0de;
  background-color: transparent;
  color: #5bc0de; }
  .btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active {
    color: #fff;
    border-color: #5bc0de;
    background-color: transparent; }
    .btn-outline-info:hover:before, .btn-outline-info:focus:before, .btn-outline-info:active:before {
      width: 100%;
      background-color: #5bc0de; }

.btn-outline-success {
  border: 2px solid #5cb85c;
  background-color: transparent;
  color: #5cb85c; }
  .btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active {
    color: #fff;
    border-color: #5cb85c;
    background-color: transparent; }
    .btn-outline-success:hover:before, .btn-outline-success:focus:before, .btn-outline-success:active:before {
      width: 100%;
      background-color: #5cb85c; }

.btn-outline-danger {
  border: 2px solid #c9302c;
  background-color: transparent;
  color: #c9302c; }
  .btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active {
    color: #fff;
    border-color: #c9302c;
    background-color: transparent; }
    .btn-outline-danger:hover:before, .btn-outline-danger:focus:before, .btn-outline-danger:active:before {
      width: 100%;
      background-color: #c9302c; }

.btn-outline-warning {
  border: 2px solid #f0ad4e;
  background-color: transparent;
  color: #f0ad4e; }
  .btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning:active {
    color: #fff;
    border-color: #f0ad4e;
    background-color: transparent; }
    .btn-outline-warning:hover:before, .btn-outline-warning:focus:before, .btn-outline-warning:active:before {
      width: 100%;
      background-color: #f0ad4e; }

.btn-outline-secondary {
  border: 2px solid #ccc;
  background-color: transparent;
  color: #ccc; }
  .btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
    color: #fff;
    border-color: #ccc;
    background-color: transparent; }
    .btn-outline-secondary:hover:before, .btn-outline-secondary:focus:before, .btn-outline-secondary:active:before {
      width: 100%;
      background-color: #ccc; }

/**fill buttons**/
.btn-primary, .btn-success, .btn-warning, .btn-danger, .btn-info, .btn-secondary, .btn-dark {
  box-shadow: 0 0.05em 0.1em rgba(0, 0, 0, 0.18);
  border: 0px; }
  .btn-primary:hover, .btn-success:hover, .btn-warning:hover, .btn-danger:hover, .btn-info:hover, .btn-secondary:hover, .btn-dark:hover {
    border: 0px;
    box-shadow: 0 0.05em 1em rgba(0, 0, 0, 0.18); }

.btn-secondary {
  background: #f5f5f5;
  box-shadow: none; }
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    border: 0px;
    color: #333;
    box-shadow: none; }

.btn-primary {
  background: #DEBC8B;
  color: #fff !important; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #DEBC8B;
    color: #fff; }

.btn-dark {
  background: #22232d;
  color: #fff; }
  .btn-dark:hover, .btn-dark:focus, .btn-dark:active {
    background: #22232d;
    color: #fff; }

.btn-outline-dark {
  border-color: #22232d;
  color: #22232d;
  background-color: transparent; }
  .btn-outline-dark:hover, .btn-outline-dark:focus, .btn-outline-dark:active {
    color: #fff;
    border-color: #22232d;
    background-color: transparent; }
    .btn-outline-dark:hover:before, .btn-outline-dark:focus:before, .btn-outline-dark:active:before {
      width: 100%;
      background-color: #22232d; }

.btn-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center; }
  .btn-circle i {
    display: block;
    line-height: 80px;
    margin: 0 auto;
    font-size: 35px; }
  .btn-circle .btn-primary i, .btn-circle .btn-success i, .btn-circle .btn-warning i, .btn-circle .btn-danger i, .btn-circle .btn-info i {
    color: #fff; }

.icon-sm-rounded {
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: inline-block !important;
  text-align: center;
  border-radius: 50%;
  background: #DEBC8B;
  color: #fff; }

/****************

SOCIAL BUTTONS

**********************/
/**social icons default size**/
.social-icon {
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #AAA; }

.social-icon:hover {
  border-color: transparent; }

.social-icon i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 40px;
  position: relative; }

.social-icon i:last-child {
  color: #FFF !important; }

.social-icon:hover i:first-child {
  margin-top: -40px; }

/***social icons lg (big)***/
.social-icon-lg {
  margin: 0 5px 5px 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  line-height: 60px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #AAA; }

.social-icon-lg:hover {
  border-color: transparent; }

.social-icon-lg i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 60px;
  position: relative; }

.social-icon-lg i:last-child {
  color: #FFF !important; }

.social-icon-lg:hover i:first-child {
  margin-top: -60px; }

/***social icons small***/
.social-icon-sm {
  margin: 0 5px 5px 0;
  width: 30px;
  height: 30px;
  font-size: 18px;
  line-height: 30px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #AAA; }

.social-icon-sm:hover {
  border-color: transparent; }

.social-icon-sm i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 30px;
  position: relative; }

.social-icon-sm i:last-child {
  color: #FFF !important; }

.social-icon-sm:hover i:first-child {
  margin-top: -30px; }

si-border {
  border: 1px solid #AAA !important; }

.si-border-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.si-dark-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.si-gray-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.si-gray {
  background: #f3f3f3;
  border: 0px; }

.si-dark {
  background-color: #22232d;
  border: 0px !important;
  color: #fff !important; }

/**icons hover colored**/
.si-colored-facebook, .si-facebook:hover {
  background-color: #3B5998 !important; }

.si-colored-twitter, .si-twitter:hover {
  background-color: #00ACEE !important; }

.si-colored-google-plus, .si-g-plus:hover {
  background-color: #DD4B39 !important; }

.si-colored-skype, .si-skype:hover {
  background-color: #00AFF0 !important; }

.si-linkedin:hover, .si-colored-linkedin {
  background-color: #0E76A8 !important; }

.si-pin:hover, .si-colored-pinterest {
  background-color: #C8232C !important; }

.si-rss:hover, .si-colored-rss {
  background-color: #EE802F !important; }

.si-pinterest:hover, .si-colored-pinterest {
  background-color: #C8232C !important; }

.si-tumblr:hover, .si-colored-tumblr {
  background-color: #34526F !important; }

.si-vimeo:hover, .si-colored-vimeo {
  background-color: #86C9EF !important; }

.si-digg:hover, .si-colored-digg {
  background-color: #191919 !important; }

.si-instagram:hover, .si-colored-instagram {
  background-color: #3F729B !important; }

.si-flickr:hover, .si-colored-flickr {
  background-color: #FF0084 !important; }

.si-paypal:hover, .si-colored-paypal {
  background-color: #00588B !important; }

.si-yahoo:hover, .si-colored-yahoo {
  background-color: #720E9E !important; }

.si-android:hover, .si-colored-andriod {
  background-color: #A4C639 !important; }

.si-appstore:hover, .si-colored-apple {
  background-color: #000 !important; }

.si-dropbox:hover {
  background-color: #3D9AE8 !important; }

.si-dribbble:hover, .si-colored-dribbble {
  background-color: #EA4C89 !important; }

.si-soundcloud:hover, .si-colored-soundcoloud {
  background-color: #F70 !important; }

.si-xing:hover, .si-colored-xing {
  background-color: #126567 !important; }

.si-phone:hover, .si-colored-phone {
  background-color: #444 !important; }

.si-behance:hover, .si-colored-behance {
  background-color: #053eff !important; }

.si-github:hover, .si-colored-github {
  background-color: #171515 !important; }

.si-stumbleupon:hover, .si-colored-stumbleupon {
  background-color: #F74425 !important; }

.si-email:hover, .si-colored-email {
  background-color: #6567A5 !important; }

.si-wordpress:hover, .si-colored-wordpress {
  background-color: #1E8CBE !important; }

.circle-button {
  display: inline-block;
  vertical-align: middle; }
  .circle-button span {
    vertical-align: middle;
    display: inline-block; }

.circle-icon-button {
  width: 3.92857rem;
  height: 3.92857rem;
  border-radius: 50%;
  font-size: 1.28571rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle; }
  .circle-icon-button > i {
    position: relative;
    top: 50%;
    display: block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    padding-left: 3px;
    padding-top: 3px; }

/*
Header style
*/
.navbar .container, .navbar .container-fluid {
  position: relative; }

.navbar .navbar-nav .nav-link {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  border-top: 2px solid transparent; }

.navbar-light.navbar .navbar-nav .nav-link {
  color: #FFF; }
  .navbar-light.navbar .navbar-nav .nav-link:hover, .navbar-light.navbar .navbar-nav .nav-link:focus, .navbar-light.navbar .navbar-nav .nav-link:active, .navbar-light.navbar .navbar-nav .nav-link.active {
    color: #DEBC8B;
    border-top-color: #DEBC8B; }

@media (min-width: 992px) {
  .navbar-expand-lg.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 999; }
    .navbar-expand-lg.navbar .navbar-nav .nav-item {
      padding-left: .9rem;
      padding-right: .9rem; }
      .navbar-expand-lg.navbar .navbar-nav .nav-item .nav-link {
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;
        padding-left: 0;
        padding-right: 0; }
    .navbar-expand-lg.navbar .navbar-right .nav-item {
      border-left: 1px solid #eee;
      border-top: 0px; }
      .navbar-expand-lg.navbar .navbar-right .nav-item:last-child .nav-link:hover {
        color: rgba(0, 0, 0, 0.5) !important; }
    .navbar-expand-lg.navbar .navbar-right .nav-link {
      border-top: 0px; }
      .navbar-expand-lg.navbar .navbar-right .nav-link > i {
        position: relative;
        top: 3px;
        font-size: 18px;
        margin-right: 5px; } }

/*
Dropdown menu styles
*/
.dropdown-menu {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
  min-width: 12rem;
  background-color: #fff;
  border: 0px;
  padding: 1rem .0rem;
  border-radius: 0px;
  margin: 0px; }

.dropdown-menu .dropdown-item {
  font-weight: 400;
  font-size: .8rem;
  color: #333c4e;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase; }
  .dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:active {
    color: #DEBC8B;
    background-color: transparent; }

@media (min-width: 992px) {
  .dropdown-menu, .dropdown-submenu .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    -moz-transform: translateY(8px);
    -o-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .show > .dropdown-menu, .dropdown-submenu:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none; } }

/*
Smart form customization
*/
.smart-forms {
  font-family: "Open Sans", sans-serif; }

.smart-forms .tagline span {
  font-weight: 500;
  color: #666; }

.smart-container {
  box-shadow: none; }

.smart-wrap {
  padding: 0px; }

.smart-container {
  margin: 0 auto; }

.smart-forms .form-body {
  padding: 0px;
  padding-bottom: 20px; }

.smart-forms .form-footer {
  overflow: hidden;
  padding: 0px;
  padding-top: 0px;
  background: #fff;
  background-image: none; }

.smart-forms .refresh-captcha {
  background-color: #DEBC8B;
  border-color: #DEBC8B; }

.smart-forms .button {
  font-family: "Cardo", serif;
  text-transform: uppercase;
  font-weight: 600; }

.smart-forms .btn-primary {
  background-color: #DEBC8B; }
  .smart-forms .btn-primary:active {
    background-color: #DEBC8B; }
  .smart-forms .btn-primary:hover, .smart-forms .btn-primary:focus {
    background-color: #DEBC8B; }

.smart-forms .input-hint {
  font-family: "Open Sans", sans-serif; }

.smart-forms input:checked + .checkbox, .smart-forms input:checked + .radio {
  border: 3px solid #DEBC8B; }

.smart-forms input:hover + .checkbox, .smart-forms input:hover + .radio {
  border-color: #DEBC8B; }

.smart-forms .checkbox:before {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 6px;
  height: 3px;
  border: solid #DEBC8B;
  -webkit-border-width: 0 0 3px 3px;
  -moz-border-width: 0 0 3px 3px;
  border-width: 0 0 3px 3px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.smart-forms input:checked + .checkbox:before, .smart-forms input:checked + .radio:before {
  border-color: #DEBC8B; }

.smart-forms .rating:hover .rating-star:hover, .smart-forms .rating:hover .rating-star:hover ~ .rating-star, .smart-forms .rating-input:checked ~ .rating-star {
  color: #DEBC8B; }

.smart-forms label, .smart-forms input, .smart-forms button, .smart-forms select, .smart-forms textarea {
  font-family: "Open Sans", sans-serif; }

.smart-forms .switch > input:checked + .switch-label {
  border-color: #DEBC8B;
  background: #DEBC8B; }
  .smart-forms .switch > input:checked + .switch-label:focus, .smart-forms .switch > input:checked + .switch-label :active {
    border-color: #DEBC8B;
    background: #DEBC8B; }

.smart-forms .tagline span {
  color: #DEBC8B; }

/*
Parallax backgrounds
*/
.fullscreen-hero {
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 3; }
  .fullscreen-hero .hero-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: table; }
    .fullscreen-hero .hero-content .hero-inner {
      display: table-cell;
      width: 100%;
      vertical-align: middle; }
  .fullscreen-hero h5.display-3 {
    font-family: "Cardo", serif;
    font-weight: 400; }

/*
Cards features, blogs, icons, images, teams etc.
*/
.card-white {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  position: relative; }
  .card-white .card-content {
    padding: 40px 20px; }
    .card-white .card-content h5 {
      font-size: 1.3rem; }
  .card-white a.full-link {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }
  .card-white:hover {
    -webkit-box-shadow: 0px 30px 80px 0px rgba(34, 35, 45, 0.1);
    -moz-box-shadow: 0px 30px 80px 0px rgba(34, 35, 45, 0.1);
    box-shadow: 0px 30px 80px 0px rgba(34, 35, 45, 0.1); }

.practice-card {
  text-align: center;
  border: 1px solid #FFF;
  position: relative;
    padding: 10px;
    background-color: #FFF;  }
  .practice-card .img-fluid {
   }
  .practice-card .content-box {
    padding: 25px 20px;
    background-color: #fff; }
    .practice-card .content-box h5 {
      margin-bottom: 20px;
      margin-top: 10px;
      font-size: 1.3rem; }

.attorny-card {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 10px; }
  .attorny-card .content-box {
    padding-top: 25px; }
    .attorny-card .content-box h5 {
      color: #fff;
      text-transform: uppercase;
      font-weight: 700; }
    .attorny-card .content-box span {
      color: #DEBC8B;
      font-weight: 600;
      text-transform: uppercase;
      display: block;
      margin-bottom: 15px; }
    .attorny-card .content-box p {
      color: rgba(255, 255, 255, 0.7); }
  .attorny-card .attorny-footer {
    text-align: center;
    margin: 0;
    padding: 0; }
    .attorny-card .attorny-footer li {
      padding: 8px 0;
      color: rgba(255, 255, 255, 0.8); }
      .attorny-card .attorny-footer li:last-child {
        padding-bottom: 4px; }
    .attorny-card .attorny-footer span {
      display: inline-block; }
      .attorny-card .attorny-footer span .social-icon {
        margin: 0px;
        margin-right: 3px; }

/**news card**/
.card-news {
  position: relative;
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
  margin-bottom: 40px; }
  .card-news h5 {
    padding-top: 30px; }
    .card-news h5 a {
      font-size: 1.8rem;
      color: #333; }
  .card-news ul li {
    padding-left: 10px;
    position: relative; }
    .card-news ul li:before {
      content: "|";
      left: -10px;
      position: relative;
      opacity: 0.5; }
    .card-news ul li:first-child {
      padding-left: 0px; }
      .card-news ul li:first-child:before {
        content: ""; }
    .card-news ul li a {
      color: #aeaeae;
      font-size: 13px; }
      .card-news ul li a:hover {
        color: #DEBC8B; }

/*
Clients & reviews
*/
.client-reviews-card {
  text-align: center;
  position: relative; }
  .client-reviews-card:before {
    content: "\e7e0";
    font-family: 'Linearicons';
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -30px;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #fff;
    font-size: 32px;
    border: 1px solid #eee;
    z-index: 2;
    border-radius: 50%; }
  .client-reviews-card .client-reviews-content {
    position: relative;
    background: #fff;
    border: 1px solid #eee;
    padding: 20px 20px;
    padding-top: 40px;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 20px; }
  .client-reviews-card .client-reviews-content:after, .client-reviews-card .client-reviews-content:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .client-reviews-card .client-reviews-content:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #fff;
    border-width: 10px;
    margin-left: -10px; }
  .client-reviews-card .client-reviews-content:before {
    border-color: rgba(238, 238, 238, 0);
    border-top-color: #eee;
    border-width: 11px;
    margin-left: -11px; }
  .client-reviews-card .client-reviews-author {
    display: inline-block; }
    .client-reviews-card .client-reviews-author .img-fluid {
      width: 60px;
      margin: 0 auto;
      margin-bottom: 15px; }
    .client-reviews-card .client-reviews-author h5 {
      text-transform: capitalize;
      font-weight: 700;
      letter-spacing: 0px;
      margin-bottom: 0px;
      font-size: 15px; }
    .client-reviews-card .client-reviews-author span {
      color: #DEBC8B;
      font-size: 12px;
      font-style: italic;
      opacity: 0.5; }

.owl-carousel.owl-clients .item img {
  display: block;
  margin: 0 auto;
  border: 2px solid rgba(167, 136, 89, 0.04); }

/*
Sidebar ....
*/
.sidebar-nav .sidenav-item {
  display: block;
  padding: 10px 0;
  color: #22232d;
  border-bottom: 1px solid #eee;
  position: relative; }
  .sidebar-nav .sidenav-item:after {
    content: "\e93c";
    font-family: 'Linearicons';
    position: absolute;
    right: 0;
    top: 12px;
    transition: all .3s;
    -webkit-transition: all .3s;
    margin-right: 20px;
    opacity: 0; }
  .sidebar-nav .sidenav-item.active, .sidebar-nav .sidenav-item:hover {
    color: #DEBC8B;
    padding-left: 10px; }
    .sidebar-nav .sidenav-item.active:after, .sidebar-nav .sidenav-item:hover:after {
      opacity: 1;
      margin-right: 0; }

.sidebar-title {
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 20px; }

.sidebar-column .list-unstyled .media .img-fluid {
  width: 88px; }

.sidebar-column .list-unstyled .media .media-body {
  font-size: 12px; }
  .sidebar-column .list-unstyled .media .media-body h5 {
    font-size: 18px; }
    .sidebar-column .list-unstyled .media .media-body h5 a {
      color: #aeaeae;
      font-size: 13px; }
      .sidebar-column .list-unstyled .media .media-body h5 a:hover {
        color: #DEBC8B; }

.categories li.active a {
  font-weight: 700;
  color: #333; }

.categories li.active ul {
  padding-left: 15px; }
  .categories li.active ul li a {
    font-weight: 400;
    color: #333; }
    .categories li.active ul li a:hover {
      color: #DEBC8B; }

.categories li a {
  display: block;
  font-size: 13px;
  padding: 3px 0px;
  border-bottom: 1px solid #eee;
  color: #999; }
  .categories li a:hover {
    color: #DEBC8B; }

.categories li:last-child a {
  border-bottom: 0px; }

/*
Footer style
*/
.footer {
  padding-top: 90px;
  padding-bottom: 70px;
  background-color: #f9f9f9; }
  .footer h5 {
    color: #666;
    font-family: "Open Sans", sans-serif;
    opacity: 0.8;
    margin-bottom: 20px; }
  .footer ul.list-inline li {
    position: relative;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 15px;
    font-size: 13px; }
    .footer ul.list-inline li:before {
      content: "|";
      color: rgba(0, 0, 0, 0.5);
      position: absolute;
      left: 0; }
    .footer ul.list-inline li:first-child:before {
      display: none; }
    .footer ul.list-inline li a {
      color: rgba(0, 0, 0, 0.8); }
      .footer ul.list-inline li a:hover {
        color: #DEBC8B; }

@media (min-width: 992px) {
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 1005;
    z-index: 0;
    width: 100%; }
  main.main-content {
    position: relative;
    z-index: 3;
    background-color: #fff;
    margin-bottom: 245px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1); } }

@media (max-width: 991px) {
  .navbar .container {
    position: relative; }
  .navbar-toggler {
    position: absolute;
    right: 15px;
    background-image: none;
    border: 0px;
    cursor: pointer;
    padding: 0px;
    top: 0; }
    .navbar-toggler .navbar-toggler-icon {
      background-image: none; }
      .navbar-toggler .navbar-toggler-icon:after {
        font-family: 'Linearicons';
        content: "\e92b";
        position: absolute;
        right: 0;
        font-size: 2em;
        top: 10px;
        transition: all .3s;
        -webkit-transition: all .3s;
        color: #000; }
  .navbar-brand > img {
    position: relative;
    margin-top: 0px; }
  .navbar .navbar-nav .nav-link {
    border-top: 0px; }
  .dropdown-menu {
    box-shadow: none; }
  .fullscreen-hero h5.display-3 {
    font-size: 34px; }
  .fullscreen-hero {
    height: auto;
    padding: 5rem 0; }
  .footer, .footer .text-right {
    text-align: center !important; }
  .footer span {
    display: inline-block; } }

.btn-pink {
    background-color: #F8CDD2;
    color: #FFF;
}

.fade-in {
animation: fadeIn ease 3S;
-webkit-animation: fadeIn ease 3S;
-moz-animation: fadeIn ease 3S;
-o-animation: fadeIn ease 3S;
-ms-animation: fadeIn ease 3S;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}