<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>婚禮 Wedding</title>  
		
		<link href="css/style.css" rel="stylesheet">
		<link href="css/plugins/plugins.css" rel="stylesheet">
        <link href="linearicons/fonts.css" rel="stylesheet">
		<script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-firestore.js"></script>
		<script src="js/jquery.min.js"></script>
        <script src="js/filestore.js"></script>
		<script src="js/menu.js"></script>
		<script src="js/style.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-white" id="app">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html" >
                    <img src="images/logo.png" alt="" style="width: 75px;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#law-firm-navbar" aria-controls="law-firm-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="law-firm-navbar">
                    <ul class="navbar-nav ml-auto" id="menu">
						<li  v-for="item in menus "  class='nav-item'><a class='nav-link' :href="item.data.url">{{item.data.title}}</a></li>
                    </ul>
                   
                </div>
            </div>
        </nav>
		<div id="home" class="fullscreen-hero bg-parallax" data-jarallax='{"speed": 0.4}'  style='background-image: url("images/Banner_200901_0.jpg")'>
            <div class="hero-content">
                <div class="hero-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-md-10 text-right mr-auto ml-auto">
                                <h5 class="mb20 text-white display-5">婚禮風格我做主打/造專屬你的婚禮計畫 </h5>
                                <p class="text-white mb30 lead">
                                    婚禮風格 / 計畫拿不定主意?
                                </p>
                                <div>
                                    <a data-scroll href="#about" class="btn btn-lg btn-pink mr-3">婚禮前測</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--hero-->
		
		 <main class="main-content" id="main">
			  <div class="bg-primary pt40 pb40">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h2 class=" mt5  h2 text-center" style="color: #6c757d;font-weight: 600;">選擇屬於你的婚禮計畫</h2>
						</div>
						<div class="col-lg-12 text-center pt20">
							<h4 class=" mt5  h4  text-center" style="color: #6c757d">一站式整合你的婚禮需求，打造風格獨特的婚禮計畫</h4>
						</div>
					</div>
				</div>
			</div>
			
			<div class="bg-faded pt90 pb50" id="container">
            <div class="container pb40" v-for="item in style" v-if="item.packages.length > 0">
                <div class="section-title title-on-faded mb40">
                    <h3 class="text-center text-white">
                        {{item.data.title}}
                    </h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 mb40" v-for="package in item.packages">
                        <div class="practice-card fade-in">
							<img :src="package.data.picture!=''?package.data.picture:'images/logo_big.png'" alt="" class="img-fluid">
                            <div class="content-box">
                                <h5>{{package.data.title}}</h5>
                                <div style="height: 90px">
                                    <p>{{package.data.desc}}</p>
                                </div>
                                <a :href="`package.html?id=${package.id}`" class="btn btn-link">More</a>
                            </div>
                        </div>
                    </div><!--col-->
                </div>
            </div>
        </div>
		<div class=" pt40 pb40" style="background-color:#DEBC8B">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <h2 class=" mt5  h4  text-white text-center">策劃婚禮前，讓婚禮前測告訴你，你想要什麼樣的婚禮！</h2>
                    </div>
                    <div class="col-lg-4 text-center">
                        <a href="#" class="btn btn-lg btn-pink btn-rounded">婚禮前測</a>
                    </div>
                </div>
            </div>
        </div>
		 </main>
		<footer class="footer" id="footer">
            <div class="container">
                <h5>客服信箱 ：Wedding@envoy.com</h5>
                <div class="row">
                    <div class="col-lg-4">
                        <span>
                                                <a href="#" class="social-icon si-dark si-facebook si-dark-round">
                                                    <i class="fa fa-facebook"></i>
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                                <a href="#" class="social-icon si-dark si-twitter si-dark-round">
                                                    <i class="fa fa-twitter"></i>
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                                <a href="#" class="social-icon si-dark si-g-plus si-dark-round">
                                                    <i class="fa fa-google-plus"></i>
                                                    <i class="fa fa-google-plus"></i>
                                                </a>
                                                <a href="#" class="social-icon si-dark si-skype si-dark-round">
                                                    <i class="fa fa-skype"></i>
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </span>
                    </div>
                    <div class="col-lg-8 text-right">
                        <ul class="list-inline"  >
							<li v-for="item in menus" class="list-inline-item"><a class='nav-link' :href="item.data.url">{{item.data.title}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
		
		<script type="text/javascript" src="js/plugins/plugins.js"></script> 
        <script type="text/javascript" src="js/law-firm.custom.js"></script> 
	<script>
	$(document).ready(function() {
  $('body').css('display', 'none');
  $('body').fadeIn(5000); //一開始淡入
  $('a.link').click(function(event) { //點選 class 為 link 的 a 元件時觸發
   event.preventDefault(); //取消事件預設動作
   newLocation = this.href;
   $('body').fadeOut(5000, newpage); //點選後淡出
  });
  
 });
	var vm = new Vue({
	  el: '#app',
	  data: {
		menus: [],
	  }
	});
	
	var vmFooter = new Vue({
	  el: '#footer',
	  data: {
		menus: [],
	  }
	});
	
	var vmMain = new Vue({
	  el: '#main',
	  data: {
		style: [],
	  },
	  methods: {
		packages:function(id){
			return getStyles(id,this.setPackage);
		},
		setPackage:function(data){
			return data;
		}
	  }
	});
	getMenus(setMenus);
	getStyle(setStyles);
	 function setMenus(menus){
		menus.forEach((doc) =>{
			vm.menus.push(doc);
			vmFooter.menus.push(doc);
		});
	 }
	 
	 function setStyles(data){
		data.forEach((doc) =>{
			getStyles(doc.id,function(data){
				doc.packages = data;
			vmMain.style.push(doc);
			})
		});
	 }
	</script>
	</body>
</html>