<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>婚禮</title>  
		<link href="css/style.css" rel="stylesheet">
		<link href="css/plugins/plugins.css" rel="stylesheet">
        <link href="linearicons/fonts.css" rel="stylesheet">
		<script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-firestore.js"></script>
		<script src="js/jquery.min.js"></script>
        <script src="js/filestore.js"></script>
		<script src="js/menu.js"></script>
		<script src="js/style.js"></script>
		<script src="js/package.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<style>
		.mybg{
		background-position:center;
		background-size:cover;
		}
		</style>
        <nav class="navbar navbar-expand-lg navbar-light bg-white" id="app">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="images/logo.png" alt="" style="width: 75px;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#law-firm-navbar" aria-controls="law-firm-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="law-firm-navbar">
                    <ul class="navbar-nav ml-auto" id="menu">
						<li  v-for="item in menus "  class='nav-item'><a class='nav-link' :href="item.data.url">{{item.data.title}}</a></li>
                    </ul>
                   
                </div>
            </div>
        </nav>
		<div id="home" class="fullscreen-hero bg-parallax mybg" data-jarallax='{"speed": 0.4}'  :style="`background-image: url('${package.data.picture}')`">
            <div class="hero-content">
                <div class="hero-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-md-10 text-right mr-auto ml-auto">
                                <h5 class="mb20 text-white display-5">{{package.data.title}}</h5>
                                <p class="text-white mb30 lead">
                                    專屬你的婚禮計畫
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--hero-->
		
		<main class="main-content" id="main">
		
		
		<div class="bg-faded pt90 pb50" id="container">
            <div class="container">
                <div class="section-title title-on-faded mb40">
                    <h3 class="text-center text-white">
                         婚禮場地
                    </h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 mb40" v-for="item in place">
                        <div class="practice-card  fade-in">
                             <img :src="item.data.picture!=''?item.data.picture:'images/logo_big.png'" alt="" class="img-fluid">
                            <div class="content-box">
                                <h5>{{item.data.title}}</h5>
                                <div style="height: 90px">
                                    <p>{{item.data.desc}}</p>
                                </div>
                            </div>
                        </div>
                    </div><!--col-->
                </div>
            </div>
        </div>
		
		<div class="bg-faded pt90 pb50" id="container">
            <div class="container">
                <div class="section-title title-on-faded mb40">
                    <h3 class="text-center text-white">
                         婚禮穿搭
                    </h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 mb40" v-for="item in dress">
                        <div class="practice-card  fade-in">
                            <img :src="item.data.picture!=''?item.data.picture:'images/logo_big.png'" alt="" class="img-fluid">
                            <div class="content-box">
                                <h5>{{item.data.title}}</h5>
                                <div style="height: 90px">
                                    <p>{{item.data.desc}}</p>
                                </div>
                            </div>
                        </div>
                    </div><!--col-->
                </div>
            </div>
        </div>
		
		<div class="bg-faded pt90 pb50" id="container">
            <div class="container">
                <div class="section-title title-on-faded mb40">
                    <h3 class="text-center text-white">
                         婚禮餐食
                    </h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 mb40" v-for="item in food">
                        <div class="practice-card  fade-in">
                             <img :src="item.data.picture!=''?item.data.picture:'images/logo_big.png'" alt="" class="img-fluid">
                            <div class="content-box">
                                <h5>{{item.data.title}}</h5>
                                <div style="height: 90px">
                                    <p>{{item.data.desc}}</p>
                                </div>
                            </div>
                        </div>
                    </div><!--col-->
                </div>
            </div>
        </div>
		
		<div class="bg-faded pt90 pb50" id="container">
            <div class="container">
                <div class="section-title title-on-faded mb40">
                    <h3 class="text-center text-white">
                         婚禮企劃
                    </h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 mb40" v-for="item in plan">
                        <div class="practice-card  fade-in">
                             <img :src="item.data.picture!=''?item.data.picture:'images/logo_big.png'" alt="" class="img-fluid">
                            <div class="content-box">
                                <h5>{{item.data.title}}</h5>
                                <div style="height: 90px">
                                    <p>{{item.data.desc}}</p>
                                </div>
                            </div>
                        </div>
                    </div><!--col-->
                </div>
            </div>
        </div>
		<div class=" pt40 pb40" style="background-color:#DEBC8B">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class=" mt5  h2  text-white text-center">你可以試試，諮詢婚禮顧問</h2>
                    </div>
                </div>
				<div class="row  pt40">
                    <div class="col-lg-12">
                        <h2 class=" mt5  h3  text-white text-center">擁有婚禮顧問，你可以...</h2>
                    </div>
                </div>
				<div class="row  pt40">
                    <div class="col-lg-12">
                        <h2 class=" mt5  h3  text-white text-center">• 為你節省33%的婚禮籌備時間</h2>
						<h2 class=" mt5  h3  text-white text-center">• 為你整合最適合的婚禮廠商</h2>
						<h2 class=" mt5  h3  text-white text-center">• 為你創造專屬於你的婚禮回憶與價值</h2>
                    </div>
                </div>
				<div class="row pt40">
                    <div class="col-lg-12  text-center">
                        <a href="#" class="btn btn-lg btn-pink btn-rounded">我要諮詢</a>
                    </div>
                </div>
            </div>
        </div>
		</main>
		
		<footer class="footer" id="footer">
            <div class="container">
                <h5>客服信箱 ：Wedding@envoy.com</h5>
                <div class="row">
                    <div class="col-lg-4">
                        <span>
                                                <a href="#" class="social-icon si-dark si-facebook si-dark-round">
                                                    <i class="fa fa-facebook"></i>
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                                <a href="#" class="social-icon si-dark si-twitter si-dark-round">
                                                    <i class="fa fa-twitter"></i>
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                                <a href="#" class="social-icon si-dark si-g-plus si-dark-round">
                                                    <i class="fa fa-google-plus"></i>
                                                    <i class="fa fa-google-plus"></i>
                                                </a>
                                                <a href="#" class="social-icon si-dark si-skype si-dark-round">
                                                    <i class="fa fa-skype"></i>
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </span>
                    </div>
                    <div class="col-lg-8 text-right">
                        <ul class="list-inline"  >
							<li v-for="item in menus" class="list-inline-item"><a class='nav-link' :href="item.data.url">{{item.data.title}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
		
		<script type="text/javascript" src="js/plugins/plugins.js"></script> 
        <script type="text/javascript" src="js/law-firm.custom.js"></script> 
		<script>
		$(document).ready(function() {
  $('body').css('display', 'none');
  $('body').fadeIn(5000); //一開始淡入
  $('a.link').click(function(event) { //點選 class 為 link 的 a 元件時觸發
   event.preventDefault(); //取消事件預設動作
   newLocation = this.href;
   $('body').fadeOut(5000, newpage); //點選後淡出
  });
  
 });
	var vm = new Vue({
	  el: '#app',
	  data: {
		menus: [],
	  }
	});
	
	var vmFooter = new Vue({
	  el: '#footer',
	  data: {
		menus: [],
	  }
	});
	
	var vmHome = new Vue({
	  el: '#home',
	  data: {
		package:{}
	  }
	});
	
	var vmMain = new Vue({
	  el: '#main',
	  data: {
		place: [],
		dress:[],
		food:[],
		plan:[]
	  }
	});
	
	
	function getUrlVars() {
		var vars = {};
		var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
			vars[key] = value;
		});
		return vars;
	}

	function getId(){
		return getUrlVars()["id"];
	}
	
	 getPackage(getId(),setPackage);
	 function setPackage(package){
		vmHome.package = package;
	 }
	
	
		
	getMenus(setMenus);
	getDetails(getId(),"place",function(data){
		data.forEach((doc) =>{
			vmMain.place.push(doc);
		});
	});
	
	getDetails(getId(),"dress",function(data){
		data.forEach((doc) =>{
			vmMain.dress.push(doc);
		});
	});
	
	getDetails(getId(),"food",function(data){
		data.forEach((doc) =>{
			vmMain.food.push(doc);
		});
	});
	
	
	getDetails(getId(),"plan",function(data){
		data.forEach((doc) =>{
			vmMain.plan.push(doc);
		});
	});
	
	 function setMenus(menus){
		menus.forEach((doc) =>{
			vm.menus.push(doc);
			vmFooter.menus.push(doc);
		});
	 }
	 
	</script>
	</body>
</html>